<h1>{{ title }}</h1>

<app-exercice-a1></app-exercice-a1>
<app-exercice-a2></app-exercice-a2>
<app-exercice-a3></app-exercice-a3>
<app-exercice-a4></app-exercice-a4>
<app-exercice-a5></app-exercice-a5>
<app-exercice-a6></app-exercice-a6>
<app-exercice-a7></app-exercice-a7>
<app-exercice-a8></app-exercice-a8>

<app-exercice-b1></app-exercice-b1>
<app-exercice-b2></app-exercice-b2>
<app-exercice-b3></app-exercice-b3>
<app-exercice-b4></app-exercice-b4>
<app-exercice-b5></app-exercice-b5>
<app-exercice-b6></app-exercice-b6>
<app-exercice-b7></app-exercice-b7>

<app-exercice-c1></app-exercice-c1>
