<h1>1-expressions</h1>
<h2>exercice 1</h2>
<h3>Que donne la somme de 36344.789 et 5422.995432 ?</h3>
<p>{{ 36344.789 + 5422.995432 }}</p>
<h3>Que donne la concaténation de "Bonjour" et "le Monde" ?</h3>
<p>{{ "Bonjour " + "le Monde" }}</p>
<h3>Quel est le reste de la division entière de 4321 par 1234 ?</h3>
<p>{{ 4321 / 1234 }}</p>
<h3>Est-il vrai que 0.000005 est strictement supérieur à 0.00005 ?</h3>
<p>{{ 0.000005 > 0.00005 }}</p>
<h3>Que donne l'équation ((3x + 2) - (43x * (9y + 6))) / (2y - 7) si x vaut 4 et y vaut 19. Vous devez donc créer 2 propriétés numériques dans le composant</h3>
<p> {{ ((3 * x + 2) - (43 * x * (9 * y + 6))) / (2 * y - 7) }} </p>
